@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  h1 {
      @apply text-4xl font-extrabold
  }
  h2 {
      @apply text-3xl font-bold text-headerTertiary
  }
  h3 {
      @apply text-lg font-medium text-headerTertiary
  }
}

.container {
    width: 1280px;
}
.header-w {
    background-image: url('./img/headerWallpaper.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}